/* login css custom*/



/* Mediaquerys */


/* Pantallas Grandes */

@media screen and (min-width: 978px) {
    .container-formulario {
        height: 100%;
        min-height: auto;
        overflow: auto;
        background-color: #001;
        background-image: linear-gradient(30deg, rgba(1, 2, 27, 1) 12%, transparent 12.5%, transparent 87%, rgba(1, 2, 27, 1) 87.5%, rgba(1, 2, 27, 1)), linear-gradient(150deg, rgba(1, 2, 27, 1) 12%, transparent 12.5%, transparent 87%, rgba(1, 2, 27, 1) 87.5%, rgba(1, 2, 27, 1)), linear-gradient(30deg, rgba(1, 2, 27, 1) 12%, transparent 12.5%, transparent 87%, rgba(1, 2, 27, 1) 87.5%, rgba(1, 2, 27, 1)), linear-gradient(150deg, rgba(1, 2, 27, 1) 12%, transparent 12.5%, transparent 87%, rgba(1, 2, 27, 1) 87.5%, rgba(1, 2, 27, 1)), linear-gradient(60deg, rgba(24, 8, 14, 1) 25%, transparent 25.5%, transparent 75%, rgba(24, 8, 14, 1) 75%, rgba(24, 8, 14, 1)), linear-gradient(60deg, rgba(24, 8, 14, 1) 25%, transparent 25.5%, transparent 75%, rgba(24, 8, 14, 1) 75%, rgba(24, 8, 14, 1));
        background-size: 80px 140px;
        background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    }

    .filaFormulario {
        margin: auto;
        max-width: 33%;
        background: linear-gradient(156deg, rgba(1, 2, 27, 0.6) 0%, rgba(24, 8, 14, 0.6) 86%, rgba(0, 0, 0, 0.6) 100%) !important;
        padding: 31px 19px 45px 19px;
        margin-top: 8%;
        border-radius: 25px;
        color: white;
        border: 2px solid white;
        box-shadow: 0px 0px 12px 4px #ffffff45;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

    .customFormTitle {
        text-align: center;
    }

    .label-usuario-custom {
        margin-top: 24px;
    }

    .label-password-custom {
        margin-top: 24px;
    }

    .form-button-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .custom-btn-login {
        margin-top: 65px;
        background: radial-gradient(circle, rgba(1, 2, 27, 1) 0%, rgba(24, 8, 14, 1) 86%, rgba(0, 0, 0, 1) 100%) !important;
        border: 1px solid white !important;
        transition: .5s !important;
        padding: 11px 11px 11px 11px !important;
        ;
    }

    .custom-btn-login:hover {
        background: white !important;
        border: 2px solid #000000 !important;
        color: black !important;
        box-shadow: 0px 0px 8px 3px white;
        padding: 10px 11px 10px 11px !important;
        ;
    }
}


/* Pantallas Pequeñas */

@media screen and (max-width: 978px) {
    .container-formulario {
        height: 100%;
        min-height: auto;
        overflow: auto;
        background-color: #001;
        background-image: linear-gradient(30deg, rgba(1, 2, 27, 1) 12%, transparent 12.5%, transparent 87%, rgba(1, 2, 27, 1) 87.5%, rgba(1, 2, 27, 1)), linear-gradient(150deg, rgba(1, 2, 27, 1) 12%, transparent 12.5%, transparent 87%, rgba(1, 2, 27, 1) 87.5%, rgba(1, 2, 27, 1)), linear-gradient(30deg, rgba(1, 2, 27, 1) 12%, transparent 12.5%, transparent 87%, rgba(1, 2, 27, 1) 87.5%, rgba(1, 2, 27, 1)), linear-gradient(150deg, rgba(1, 2, 27, 1) 12%, transparent 12.5%, transparent 87%, rgba(1, 2, 27, 1) 87.5%, rgba(1, 2, 27, 1)), linear-gradient(60deg, rgba(24, 8, 14, 1) 25%, transparent 25.5%, transparent 75%, rgba(24, 8, 14, 1) 75%, rgba(24, 8, 14, 1)), linear-gradient(60deg, rgba(24, 8, 14, 1) 25%, transparent 25.5%, transparent 75%, rgba(24, 8, 14, 1) 75%, rgba(24, 8, 14, 1));
        background-size: 80px 140px;
        background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    }

    .filaFormulario {
        margin: auto;
        max-width: 93%;
        background: linear-gradient(156deg, rgba(1, 2, 27, 0.6) 0%, rgba(24, 8, 14, 0.6) 86%, rgba(0, 0, 0, 0.6) 100%) !important;
        padding: 31px 19px 45px 19px;
        margin-top: 8%;
        border-radius: 25px;
        color: white;
        min-height: 70%;
        border: 2px solid white;
        box-shadow: 0px 0px 12px 4px #ffffff45;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

    .customFormTitle {
        text-align: center;
    }

    .label-usuario-custom {
        margin-top: 24px;
    }

    .label-password-custom {
        margin-top: 24px;
    }

    .form-button-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .custom-btn-login {
        margin-top: 65px;
        background: radial-gradient(circle, rgba(1, 2, 27, 1) 0%, rgba(24, 8, 14, 1) 86%, rgba(0, 0, 0, 1) 100%) !important;
        border: 1px solid white !important;
        transition: .5s !important;
        padding: 11px 11px 11px 11px !important;
        ;
    }

    .custom-btn-login:hover {
        background: white !important;
        border: 2px solid #000000 !important;
        color: black !important;
        box-shadow: 0px 0px 8px 3px white;
        padding: 10px 11px 10px 11px !important;
        ;
    }
}