<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>

{% extends 'base.html' %} {% block content %}

<section>
  <div class="container-fluid container-formulario">
    <form class="formularioCustom" action="" method="POST">
      <div class="form-row filaFormulario">
        <h1 class="customFormTitle">{% block title %} Inicio de Sesion {% endblock %}</h1>

        <label class="form-label label-usuario-custom" for="username">Usuario: </label>
        <input class="form-control" placeholder="Tu Usuario" aria-label="Username" aria-describedby="addon-wrapping" type="text" name="username" id="username" />

        <label class="form-label label-password-custom" for="password">Contraseña: </label>
        <input class="form-control" type="password" placeholder="****" name="password" id="password" />

        <div class="form-button-fluid">
        <button class="btn btn-primary btn-login custom-btn-login" type="submit">Iniciar Sesion</button>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}
