{% extends 'base.html' %} {% block content %}

<form method="POST">
  <div class="container">
    <h1>{% block title %} Actualizar Tarea {% endblock %}</h1>

    <label for="title">Titulo del Proyecto: </label>
    <input type="text" name="title" id="title" value="{{id_tarea.title}}" />

    <label for="desc">Titulo del Proyecto: </label>
    <input type="text" name="desc" id="desc" value="{{id_tarea.desc}}" />

    <label for="state">Estado del Proyecto: </label>
    <input type="text" name="state" id="state" value="{{id_tarea.state}}" />

    <input type="submit" value="Registrar" />

    <a href="{{url_for('proyecto.ver_proyectos')}}">
      <input type="submit" value="Cancelar" />
    </a>
  </div>
</form>

{% endblock %}
